<form method="GET" action="http://localhost:3000/vfs">
    <select name="os">
    <option value="">--Please choose an option--</option>
    <option value="ubuntu">Ubuntu</option>
    <option value="redhat">Redhat</option>
    <option value="debian">Debian</option>
    <input type="submit">
</form>