<head>
    <style>
        body {
            background-image: url('../img/debian.png');
        }
    </style>
</head>
<body>
    <form method="GET" action="http://localhost:3000/vfs">
        Command
        <input type='text' name='hey'>
        Option
        <input type='text'>
        Path
        <input type='text'>
        <input type='submit'>
    </form>

    <form method="POST" action="http://localhost:3000/vfs">
        Command
        <input type='text'>
        Option
        <input type='text'>
        Path
        <input type='text'>
        <input type='submit'>
    </form>
</body>